.input__block {
  max-width: 100%;
  margin: 0 20px 40px 20px;
}

.input {
  background-color: #433633;
  color: #e3e0d7;
  border-radius: 5px;
  width: 50%;
  min-width: 120px;
  max-width: 400px;
  padding: 5px;
}

.status {
  color: #433633;
  margin: 0 20px 40px 20px;
}
