.info {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}

.avatar__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.name {
  display: flex;
  font-size: 40px;
  padding: 20px 20px 10px 20px;
}

.profile__description {
  margin-left: 20px;
  font-size: 16px;
}

.contact {
  display: flex;
  padding-left: 15px;
}

.contact_key {
  font-weight: 600;
}
