.info {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 20rem 1fr;
  grid-gap: 10px;
}
.avatar {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;
}
.avatar__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-position: center;
  /* margin: 10px; */
}

.name {
  display: flex;
  font-size: 40px;
  padding: 20px 20px 10px 0;
}

.profile__description {
  margin-left: 20px;
  font-size: 16px;
}

.contact {
  display: flex;
  padding-left: 15px;
}

.contact_key {
  font-weight: 600;
}

.input__block {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.inputSelect {
  position: absolute;
  left: -9999px;
}

.selectPhoto {
  padding: 0.5rem;
  min-width: 5rem;
  background-color: #59b6a7;
  transition: all 0.2s;
  border-radius: 0.3125rem;
  color: black;
}

.selectPhoto:hover {
  background-color: #433633;
  color: #e3e0d7;
}

.list {
  padding-bottom: 10px;
}
