.nav {
  grid-area: n;
  background-color: #433633; /*#5c5552*/
  padding-top: 15px;
  opacity: 0.9;
}

.link,
.friends__link {
  color: #e5f77d; /*#e5f77d*/
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  padding-left: 15px;
  font-weight: 900;
  transition: all 0.2s;
}

.friends__link {
  font-size: 37px;
}

.link__block {
  padding-top: 30px;
}

.link:hover,
.friends__link:hover {
  color: #59b6a7;
}
.activeLink {
  color: #59b6a7;
}
.friends {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
