.button {
  padding: 0.5rem;
  min-width: 5rem;
  background-color: #59b6a7;
  transition: all 0.2s;
  border-radius: 0.3125rem;
  color: black;
}

.button:hover {
  background-color: #433633;
  color: #e3e0d7;
}

.button__block {
  display: flex;
}
