.posts {
  padding: 30px 0 0 10px;
}

.posts__title {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
  line-height: 1;
}
.form {
  padding-bottom: 15px;
}

.content__block {
  display: flex;
  flex-direction: column-reverse;
}

/* TEXTAREA */
.textarea {
  background-color: #c8cdca;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  padding: 15px;
}

/* SUBMIT */
.button {
  padding: 0.625rem;
  min-width: 6.25rem;
  background-color: #59b6a7;
  transition: all 0.2s;
  border-radius: 0.3125rem;
}

.button:hover {
  background-color: #433633;
}

.button__block {
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: flex-end;
}
