@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.app-wrapper {
  /* display: grid;
  margin: 0 auto; */
  width: 100%;

  /*  */
  position: relative;
  /* grid-gap: 3px; */
  /* grid-template-areas: 'h'; */
}
.app__container {
  /* grid-area: c;
  background-color: #f7f0f5; #f7f0f5 */
  display: grid;
  grid-template-columns: 12.5rem 10fr;
  grid-template-rows: 3.75rem 1fr;
  position: absolute;
  grid-template-areas:
    'h h'
    'n c';
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 85%;
  /* border-radius: 0.625rem; */
  /* z-index: 2; */
}
.app__content {
  background-color: #e3e0d7;
  grid-area: c;
}
