.dialogs {
  display: grid;
  grid-template-columns: 30% 70%;
}

.dialogs__items {
  padding: 10px;
}

.messages {
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  background-color: #e3e0d7;
  width: 8px;
  opacity: 0;
}

.messages::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: all 0.3s;
  border-radius: 7px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background-color: #726360;
}
.message__box {
  border-left: 2px #433633 solid;
  padding: 0 0 10px 20px;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
  flex-wrap: wrap;
}

/* TEXTAREA */
.textarea {
  background-color: #c8cdca;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  padding: 15px;
}

/* SUBMIT */
.button {
  padding: 0.625rem;
  min-width: 6.25rem;
  background-color: #59b6a7;
  transition: all 0.2s;
  border-radius: 0.3125rem;
}

.button:hover {
  background-color: #433633;
}

.button__block {
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: flex-end;
}
